<launch>
    <arg name="enable_imu_trigger" default="false"/>
    <arg name="camera_name" default="camera"/>
    <arg name="camera_frame" default="camera_optical_frame"/>

    <rosparam file="$(find rm_config)/config/vision/camera.yaml" command="load"/>

    <node pkg="nodelet" type="nodelet" name="vision_nodelet" args="manager"
          output="screen">
        <param name="num_worker_threads" value="8"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="camera"
          args="load galaxy_camera/GalaxyCameraNodelet vision_nodelet"
          output="screen">
        <param name="camera_frame_id" value="$(arg camera_frame)"/>
        <param name="enable_imu_trigger" value="$(arg enable_imu_trigger)"/>
        <remap from="trigger_time" to="rm_hw/gimbal_imu/trigger_time"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="debayer"
          args="load image_proc/debayer vision_nodelet"
          output="screen">
        <remap from="image_raw" to="/galaxy_camera/$(arg camera_name)/image_raw"/>
        <remap from="image_mono" to="/galaxy_camera/$(arg camera_name)/image_mono"/>
        <remap from="image_color" to="/galaxy_camera/$(arg camera_name)/image_color"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="rectify"
          args="load image_proc/rectify vision_nodelet"
          output="screen">
        <remap from="image_mono" to="/galaxy_camera/$(arg camera_name)/image_mono"/>
        <remap from="camera_info" to="/galaxy_camera/$(arg camera_name)/camera_info"/>
        <remap from="image_rect" to="/galaxy_camera/$(arg camera_name)/image_rect"/>
    </node>
</launch>
