<launch>

    <rosparam file="$(find rm_config)/config/vision/sentry.yaml" command="load"/>

    <node pkg="nodelet" type="nodelet" name="lower_vision_nodelet" args="manager"
          output="screen">
        <param name="num_worker_threads" value="8"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="lower_camera"
          args="load galaxy_camera/GalaxyCameraNodelet lower_vision_nodelet"
          output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="upper_vision_nodelet" args="manager"
          output="screen">
        <param name="num_worker_threads" value="8"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="upper_camera"
          args="load galaxy_camera/GalaxyCameraNodelet upper_vision_nodelet"
          output="screen">
    </node>

</launch>
